<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add category data</h5>
                      <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">
                      <form method="post" action="{% url 'catesave' %}" enctype="multipart/form-data">
                         {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Category Name</label>
                          <input type="text" class="form-control" id="basic-default-fullname" name="name" >
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-company">Discription</label>

                          <input type="text" class="form-control" id="basic-default-company" name="discription" >
                        </div>
<!--                        <div class="mb-3">-->
<!--                          <label class="form-label" for="basic-default-email">Email</label>-->
<!--                          <div class="input-group input-group-merge">-->
<!--                            <input type="email" id="basic-default-email" class="form-control"  aria-label="john.doe" aria-describedby="basic-default-email2" name="email">-->
<!--&lt;!&ndash;                            <span class="input-group-text" id="basic-default-email2">@example.com</span>&ndash;&gt;-->
<!--                          </div>-->
<!--                          <div class="form-text">You can use letters, numbers &amp; periods</div>-->
<!--                        </div>-->
<!--                        <div class="mb-3">-->
<!--                          <label class="form-label" for="basic-default-phone">Phone No</label>-->
<!--                          <input type="text" id="basic-default-phone" class="form-control phone-mask" name="phone number" >-->
<!--                        </div>-->
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-message">Image</label>
                          <input type="file" id="basic-default-phone" class="form-control phone-mask" name="image" >
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                      </form>
                    </div>
                  </div>
                </div>
</body>
</html>
{% endblock %}